@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/confirm.cshtml";
}

<div class="container">
    <div class="card">
        <button class="dismiss" type="button">×</button>
        <div class="header">
            <div class="div_image_v">
                <div class="image">
                    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <path d="M20 7L9.00004 18L3.99994 13" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </g>
                    </svg>
                </div>
            </div>
            <div class="content">
                <span class="title">Order Confirmed</span>
                <p class="message">Thank you for your purchase. your package will be delivered within 2 days of your purchase</p>
                <a href="@Url.Action("index","Home")">
                    <button type="button" class="btn btn-primary">Back To Home</button>
                </a>

            </div>
        </div>
    </div>
</div>

